/* header */

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1;
}

.header a {
  color: #000;
}

/* header 좌측 로고 */

.logo a img {
  width: 231px;
  height: 90px;
}

.logo {
  height: 90px;
  display: flex;
  align-items: center;
}

/* header 중앙 GNB */

nav {
  height: 90px;
}

nav > ul {
  font-size: 16px;
}

.dep1_ul {
  height: 100%;
  display: flex;
  position: relative;
  z-index: 100;
}

.dep1_ul > li {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dep1_li::after {
  content: "";
  width: 0px;
  height: 3px;
  background: var(--main);
  position: absolute;
  top: 75%;
  transition: 0.5s;
}

.dep1_li:hover::after {
  width: 80px;
}

.dep2_ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 150px;
  background: #fff;
}

.dep1_li:hover .dep2_ul {
  max-height: 250px;
  transition: 1s;
}

.dep2_li {
  margin-bottom: 10px;
}
.dep2_li:hover {
  background-color: aliceblue;
  color: var(--sub);
}

/* header 우측 ui */

.header_ui {
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
}

.mall {
  display: flex;
  align-items: center;
}

.mall > a {
  color: var(--main);
  margin-right: 20px;
}
.lang {
  height: 100%;
}

.lang a {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 50px;
  height: 100%;
  width: 100%;
}

.m_btn a {
  display: flex;
  align-items: center;
}
/* site_map */

.site_map {
  display: none;
}

.site_map_open {
  display: block;
}

/* site_map 상단 */

.site_map {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 40px 100px;
  z-index: 1000;
}

.site_map_upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.site_map_logo {
  width: 25%;
}

.site_map_header_ui {
  width: 25%;
}

.site_map_logo a img {
  width: 80%;
}
.site_map_close_btn a img {
  width: 10%;
}

/* site_map 하단 */

.site_map_nav {
  height: 100%;
}

.site_map_dep1_ul {
  display: flex;
  padding-top: 80px;
  text-align: center;
  flex-wrap: wrap;
}

.site_map_dep1_li {
  width: 30%;
  position: relative;
  padding-bottom: 10em;
}

.site_map_dep1_li > a {
  font-size: 30px;
  color: #000;
}

.site_map_dep2_ul {
  padding-top: 25px;
}

.site_map_dep2_li {
  line-height: 2rem;
  margin-top: 20px;
}

.site_map_dep2_li > a {
  font-size: 22px;
  color: #444;
}
.site_map_dep2_li > a:hover {
  background-color: #029cc32b;
  transition: 0.3s;
}
/* sub-banner  */

.sub-bn .sub-bn-bg {
  height: 800px;
  background-image: url(../images/sub-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-bn .sub-bn-bg > h1 {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
}
/* container */

.product .container {
  width: 1520px;
  margin: 0 auto;
  /* background-color: #ccc; */
}

/* lnb */
.product .container .Lnb {
  display: flex;
  margin-top: 25px;
  font-size: 14px;
}
.product .container .Lnb img {
  margin-right: 1em;
}
.product .container .Lnb .lnb-color {
  color: var(--main);
}

/* sub-title */

.sub-title > h1 {
  font-size: 35px;
  font-weight: 500;
  display: inline-block;
  border-top: 6px solid var(--main);
  margin-top: 176px;
  margin-bottom: 95px;
}

/* js */
/* 선택지 = 제외할 항목을 none으로 하기 */
.pro_ul .none {
  display: none;
}
/* none으로 했으면 꼭 선택지를 addclass-show 써준다 */
.pro_ul .show {
  display: block;
}

/* search-box */

.search-box {
  height: 528px;
  /* outline: 1px solid black; */
  padding: 100px 0px;
}

.search-box .search-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box .search-box2 > h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
}

.search-box .search-box2 #search {
  width: 700px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 28px;
  background-color: none;
  margin-left: 1em;
  margin-right: 1em;
}

/* search-box > depth2_ul */
.search-box > .depth2 > .depth2_ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}
.search-box > .depth2 > .depth2_ul > .depth2_li {
  width: 260px;
  height: 204px;
  border: 1px solid #b7b2b2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search-box .depth2 > .depth2_ul > .depth2_li > a h3 {
  color: var(--sub);
  font-size: 28px;
}

/* product-list */
.product-list {
  background-color: var(--bg);
}

.product-list .container {
  width: 1520px;
  height: 2300px;
  background-color: var(--bg);
  margin: 0 auto;
  padding-top: 100px;
}

.product-list .container .pro_ul {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.pro_ul .pro_li-1 a > h3,
.pro_ul .pro_li-2 a > h3,
.pro_ul .pro_li-3 a > h3,
.pro_ul .pro_li-4 a > h3 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pro_ul .pro_li-1 a .pro_li_ul,
.pro_ul .pro_li-2 a .pro_li_ul,
.pro_ul .pro_li-3 a .pro_li_ul,
.pro_ul .pro_li-4 a .pro_li_ul {
  list-style-type: square;
  margin-left: 2em;
}
.pro_li_ul .pro_li_li {
  color: #000;
  font-size: 18px;
}

/* dial */

.dial {
  margin-top: 150px;
  margin-bottom: 100px;
}

.product .dial .numbers {
  /* outline: 1px solid #000; */
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.product .dial .numbers button {
  color: #000;
  background-color: transparent;
  border: none;
}
.product .dial .numbers a {
  margin-left: 28px;
  margin-right: 26px;
  color: #000;
}
.product .dial .numbers .leftMax {
  margin-right: 26.5px;
}
.product .dial .numbers .left {
  margin-right: 20px;
}
.product .dial .numbers .right {
  margin-left: 20px;
}
.product .dial .numbers .rightMax {
  margin-left: 26.5px;
}

/* footer */
.footer {
  margin-top: 300px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

/* footer 의 왼쪽 영역 */

.footer_left {
  padding: 26px 0 48px 10.41666%;
}

.footer_left_upper {
  height: 67px;
  display: flex;
}

.footer_left_upper a img {
  width: 143px;
  height: 55px;
}

.footer_left_info_1 {
  display: flex;
  padding: 24px 0 0 39px;
}

.footer_left_upper a {
  color: #000;
}

.footer_left_info_1 p:first-child {
  font-size: 14px;
  font-weight: bold;
}

.footer_left_info_1 p:last-child {
  font-size: 14px;
  margin-left: 33px;
}

.footer_left_info_2 {
  margin-top: 35px;
  font-size: 12px;
}

/* footer 의 오른쪽 영역 */

.footer_right {
  padding: 41px 10.41666% 77px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.sns_btn {
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.family_site {
  width: 204px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
