/* header */

#header-banner-wrap {
  max-width: 100%;
  height: 410px;
  background-image: url(../images/main-visual\ 1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
}

/* header 좌측 로고 */
.logo a {
  width: 120px;
  height: 22px;
}
.logo a > img {
  width: 100%;
}

/* nav */
.header_nav {
  display: none;
}
/* header 우측 ui */

.header_ui {
  height: 90px;
  display: flex;
  align-items: center;
}

.mall {
  display: none;
}
.header_ui .between {
  display: none;
}
.img_lang {
  display: none;
}
.hd_lang {
  display: none;
}

.m_btn a {
  display: flex;
  align-items: center;
}

/* site-map */
.site_map {
  display: none;
}

.site_map_open {
  display: block;
}

/* site_map 상단*/

.site_map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  z-index: 1000;
}

.site_map_upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site_map_logo {
  width: 100px;
  height: 40px;
}
.site_map_logo a img {
  width: 100%;
}

/* site_map 하단*/

.site_map_nav {
  height: 100%;
}

.site_map_dep1_ul {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  text-align: left;
}

.site_map_dep1_li {
  margin-top: 30px;
  border-bottom: 1px solid #666;
  position: relative;
}

.site_map_dep1_li > a {
  font-size: 25px;
  color: #000;
  font-weight: 500;
}

.site_map_dep1_li::after {
  content: "";
  width: 0px;
  height: 3px;
  background: var(--main);
  position: absolute;
  top: 40px;
  transition: 0.5s;
}

.site_map_dep1_li:hover::after {
  width: 130px;
}

.site_map_dep2_ul {
  max-height: 0;
  overflow: hidden;
  margin: 10px 0;
  transition: 1s;
}

.site_map_dep2_li {
  margin-top: 10px;
}

.site_map_dep2_li > a {
  font-size: 20px;
  color: var(--sub);
}

.site_map_dep1_li:hover > ul {
  max-height: 240px;
}

/* main-banner */
.main_bn {
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_bn_title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main_bn_title h2 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.main_bn_title h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
.main_bn_title h4 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.main_bn_title > p {
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 50px;
  width: 180px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_bn_title p > a {
  color: #fff;
}
.main_bn_title p:hover {
  background-color: #ffffff21;
  transition: 0.3s ease-in-out;
}

/* 전체 320px / - container의 width값 : 300px */

/* about */

.about .container {
  width: 300px;
  margin: 0 auto;
}

.about_bn {
  width: 300px;
  height: 240px;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about_title {
  font-size: 26px;
  font-weight: 700;
  border-top: 3px solid var(--main);
  display: inline-block;
  margin: 50px 0 30px 0;
}

.about_contents p {
  font-size: 15px;
  font-weight: 400;
  margin: 40px 0 25px 0;
}

.about .main_btn {
  border: 1px solid var(--sub);
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .main_btn > a {
  color: var(--sub);
}
.about .main_btn:hover {
  border: 1px solid var(--sub);
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  background-color: #00000008;
}

/* product */
.product {
  background-color: var(--bg);
}
.product a {
  color: #000;
}
.product .container {
  width: 300px;
  height: 1450px;
  background-color: var(--bg);
  margin: 0 auto;
}

.product-title > h1 {
  font-size: 26px;
  font-weight: 700;
  border-top: 3px solid var(--main);
  display: inline-block;
  margin: 50px 0 30px 0;
}

.product-contents {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.product-box {
  width: 300px;
  height: 1200px;
  /* border: 2px solid saddlebrown; */
}

.product1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.product1 .product-img img {
  width: 300px;
  height: 284px;
}

.product1 h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.product1 p {
  font-size: 16px;
  font-weight: 400;
}
.product #pre-btn,
#next-btn {
  display: none;
}
.product .btn-box {
  display: flex;
  justify-content: center;
}
.product .main_btn {
  border: 1px solid var(--sub);
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.main_btn > a {
  color: var(--sub);
}

/* Ethical management */
.ethic {
  padding: 50px 0;
}

.ethic .container {
  width: 300px;
  margin: 0 auto;
}

.ethic-bn {
  width: 300px;
  height: 240px;
  background-image: url(../images/Ethic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ethic-title > h1 {
  font-size: 26px;
  font-weight: 700;
  border-top: 3px solid var(--main);
  display: inline-block;
  margin-bottom: 30px;
}

.ethic-contents {
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
}

.ethic .main-btn {
  border: 1px solid var(--sub);
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}

.ethic .main-btn > a {
  color: var(--sub);
}

.ethic .main-btn:hover {
  border: 1px solid var(--sub);
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  background-color: #00000008;
}

/* Innovative Drug development */

.develop {
  padding: 50px 0;
}
/* .develop_bg {
  border: 2px solid darkblue;
} */
.develop-box {
  background-image: url(../images/development.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  height: 320px;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 10px;
}
.develop-box > h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 10px;
}
.develop-box > p {
  font-size: 15px;
  font-weight: 400;
}
.develop-box .main-btn {
  border: 1px solid #fff;
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.develop-box .main-btn > a {
  color: #fff;
}

.develop-box .main-btn:hover {
  border: 1px solid #fff;
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  background-color: #00000016;
}

/* news */

.news {
  padding: 50px 0;
  background-color: var(--bg);
}
.news .container {
  width: 300px;
  /margin: 0 auto;
}

.news-box {
  display: flex;
  flex-direction: column;
}

.news-img {
  width: 300px;
  height: 240px;
  background-image: url(../images/news.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.news .text-box {
  margin-top: 30px;
}

.text-box > h1 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}
.text-box p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
}

.text-box .main-btn {
  border: 1px solid var(--sub);
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-box .main-btn > a {
  color: var(--sub);
}

.text-box .main-btn:hover {
  border: 1px solid var(--sub);
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  background-color: #00000008;
}

/* recruit */

.recruit {
  padding: 50px 0;
}

.recruit .container {
  margin: 0 auto;
  width: 300px;
}
.recruit .recruit-box {
  display: flex;
  flex-direction: column-reverse;
}

.recruit-img {
  width: 300px;
  height: 240px;
  background-image: url(../images/with.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;
}

.recruit .text-box > h1 {
  font-size: 26px;
  font-weight: 700;
}
.recruit .text-box p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
}

.recruit .text-box .main-btn {
  border: 1px solid var(--sub);
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  margin: 30px 0 50px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box .main-btn > a {
  color: var(--sub);
}

.recruit .text-box .main-btn:hover {
  border: 1px solid var(--sub);
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  background-color: #00000008;
}

/* footer */

.footer {
  margin-top: 50px;
  height: 223px;
  display: flex;
  border-top: 1px solid #ccc;
  padding: 20px;
}

/* footer 왼쪽 영역*/

.footer_left_upper a img {
  display: none;
}

.footer_left_upper a {
  color: #000;
}

.footer_left_info_1 p:first-child {
  font-size: 14px;
  font-weight: bold;
}

.footer_left_info_1 p:last-child {
  font-size: 14px;
  margin-top: 5px;
}

.footer_left_info_2 {
  margin-top: 30px;
  font-size: 12px;
  width: 80%;
}

/* footer 오른쪽 영역 */

.footer_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 25px;
  width: 116px;
}

.sns_btn {
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.family_site {
  display: none;
}
