/* header 박스 style 입니다. */

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1;
}

.header a {
  color: #000;
}

/* header 좌측 로고 */

.logo a img {
  width: 231px;
  height: 90px;
}

.logo {
  height: 90px;
  display: flex;
  align-items: center;
}

/* header 중앙 GNB */

nav {
  height: 90px;
}

nav > ul {
  font-size: 16px;
}

.dep1_ul {
  height: 100%;
  display: flex;
  position: relative;
  z-index: 100;
}

.dep1_ul > li {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dep1_li::after {
  content: "";
  width: 0px;
  height: 3px;
  background: var(--main);
  position: absolute;
  top: 75%;
  transition: 0.5s;
}

.dep1_li:hover::after {
  width: 80px;
}

.dep2_ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 150px;
  background: #fff;
}

.dep1_li:hover .dep2_ul {
  max-height: 250px;
  transition: 1s;
}

.dep2_li {
  margin-bottom: 10px;
}
.dep2_li:hover {
  background-color: aliceblue;
  color: var(--sub);
}

/* header 우측 ui */

.header_ui {
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
}

.mall {
  display: flex;
  align-items: center;
}

.mall > a {
  color: var(--main);
  margin-right: 20px;
}
.lang {
  height: 100%;
}

.lang a {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 50px;
  height: 100%;
  width: 100%;
}

.m_btn a {
  display: flex;
  align-items: center;
}

/* main-banner */
.main_bn {
  height: 100vh;
  background-image: url(../images/main-visual\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main_bn_title > h3 {
  position: absolute;
  left: 150px;
  top: 220px;
}

.main_bn_title h3 {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}

.main_bn_title h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 9rem;
  color: #fff;
}

.main_bn_title p {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  line-height: 3rem;
}

/* about */

.about {
  width: 1520px;
  margin: 140px auto 0;
}

.about_bn {
  height: 550px;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.about_title {
  font-size: 50px;
  font-weight: 500;
  border-top: 6px solid var(--main);
  display: inline-block;
  margin-bottom: 70px;
}

.about_contents {
  font-size: 30px;
  font-weight: 400;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.about_contents p {
  width: 80%;
}

.about .main_btn {
  border: 1px solid var(--sub);
  font-size: 20px;
  padding: 10px 20px;
  width: 160px;
  height: 60px;
  margin-bottom: 100px;
}

.about .main_btn > a {
  color: var(--sub);
}

/* product */
.product {
  background-color: var(--bg);
}

.product .container {
  width: 1520px;
  height: 1080px;
  background-color: var(--bg);
  margin: 0 auto;
}

.product-title > h1 {
  font-size: 50px;
  font-weight: 500;
  border-top: 6px solid var(--main);
  display: inline-block;
  margin-top: 70px;
  margin-bottom: 40px;
}

.product-contents {
  display: flex;
  justify-content: space-between;
}

.product1 {
  text-align: center;
}
.product1 img {
  width: 100%;
}

.product1 h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 10px;
}
.product1 p {
  font-size: 20px;
  font-weight: 400;
}

.product .main_btn {
  outline: 1px solid var(--sub);
  font-size: 20px;
  padding: 10px 40px;
  width: 200px;
  height: 60px;
  margin: 55px auto 100px auto;
}

.main_btn > a {
  color: var(--sub);
}

/* Ethical management */
.ethic {
  width: 1520px;
  margin: 140px auto 0;
}

.ethic-bn {
  height: 560px;
  background-image: url(../images/Ethic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ethic-title > h1 {
  font-size: 50px;
  font-weight: 500;
  border-top: 6px solid var(--main);
  display: inline-block;
  margin-bottom: 70px;
}

.ethic-contents {
  font-size: 30px;
  font-weight: 400;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.ethic-contents p {
  width: 80%;
}

.ethic .main-btn {
  border: 1px solid var(--sub);
  font-size: 20px;
  padding: 10px 20px;
  width: 160px;
  height: 60px;
  margin-bottom: 100px;
}

.ethic .main-btn > a {
  color: var(--sub);
}

/* Innovative Drug development */

.develop {
  margin: 100px 0;
}
.develop .container {
  width: 1520px;
  margin: 0 auto;
  position: relative;
}
.develop-box {
  background-image: url(..//images/development.jpg);
  width: 1520px;
  height: 600px;
  color: #fff;
}
.develop-box > h1 {
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  left: 105px;
  top: 146px;
}
.develop-box > p {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  position: absolute;
  bottom: 165px;
  left: 105px;
}
.develop-box .main-btn {
  border: 1px solid #fff;
  font-size: 20px;
  padding: 10px 20px;
  width: 160px;
  height: 60px;
  position: absolute;
  bottom: 86px;
  left: 105px;
}

.develop-box .main-btn > a {
  color: #fff;
}

/* news */

.news {
  padding: 100px 0;
  background-color: var(--bg);
}

.news-box {
  display: flex;
  margin: 0 auto;
  width: 1520px;
  background-color: var(--bg);
  /* background-color: tan; */
}
/* img에 높이값, 너비 100 / text-box에 너비값 주기 */
.news-img {
  height: 556px;
}
.news-img img {
  width: 100%;
}

.news .text-box {
  width: 620px;
  position: relative;
}

.text-box > h1 {
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  top: 98px;
  right: 161px;
}
.text-box p {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 230px;
  right: 128px;
  margin-bottom: 60px;
}

.text-box .main-btn {
  border: 1px solid var(--sub);
  font-size: 20px;
  padding: 10px 20px;
  width: 160px;
  height: 60px;
  position: absolute;
  right: 345px;
  bottom: 130px;
}

.text-box .main-btn > a {
  color: var(--sub);
}

/* recruit */

.recruit {
  padding: 100px 0;
}

.recruit-box {
  display: flex;
  margin: 0 auto;
  width: 1520px;
  /* background-color: tan; */
}
/* img에 높이값, 너비 100 / text-box에 너비값 주기 */
.recruit-img {
  height: 560px;
}
.recruit-img img {
  width: 100%;
}

.recruit .text-box {
  width: 620px;
  position: relative;
}

.recruit .text-box > h1 {
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  top: 94px;
  left: 0;
}
.recruit .text-box p {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 250px;
  left: 0;
  margin-top: 10px;
}

.recruit .text-box .main-btn {
  border: 1px solid var(--sub);
  font-size: 20px;
  padding: 10px 20px;
  width: 160px;
  height: 60px;
  position: absolute;
  bottom: 92px;
  left: 0;
}

.text-box .main-btn > a {
  color: var(--sub);
}

/* footer */
.footer {
  margin-top: 300px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

/* footer 의 왼쪽 영역입니다. */

.footer_left {
  padding: 26px 0 48px 10.41666%;
}

.footer_left_upper {
  height: 67px;
  display: flex;
}

.footer_left_upper a img {
  width: 143px;
  height: 55px;
}

.footer_left_info_1 {
  display: flex;
  padding: 24px 0 0 39px;
}

.footer_left_upper a {
  color: #000;
}

.footer_left_info_1 p:first-child {
  font-size: 14px;
  font-weight: bold;
}

.footer_left_info_1 p:last-child {
  font-size: 14px;
  margin-left: 33px;
}

.footer_left_info_2 {
  margin-top: 35px;
  font-size: 12px;
}

/* footer 의 오른쪽 영역입니다. */

.footer_right {
  padding: 41px 10.41666% 77px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.sns_btn {
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.family_site {
  width: 204px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
