/* header */

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1;
}

.header a {
  color: #000;
}

/* header 좌측 로고 */
.logo {
  height: 90px;
  display: flex;
  align-items: center;
}

.logo a {
  width: 231px;
  height: 90px;
}
.logo a img {
  width: 100%;
}

/* header 중앙 GNB */

nav {
  height: 90px;
}

nav > ul {
  font-size: 16px;
}

/* depth */
.dep1_ul {
  height: 90px;
  display: flex;
  position: relative;
  z-index: 100;
}

.dep1_ul > li {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dep1_li::after {
  content: "";
  width: 0px;
  height: 3px;
  background: var(--main);
  position: absolute;
  top: 75%;
  transition: 0.5s;
}

.dep1_li:hover::after {
  width: 80px;
}

.dep2_ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 150px;
  background: #fff;
}

.dep1_li:hover .dep2_ul {
  max-height: 250px;
  transition: 1s;
}

.dep2_li {
  margin-bottom: 10px;
}
.dep2_li:hover {
  background-color: aliceblue;
  color: var(--sub);
}

/* header 우측 ui */

.header_ui {
  display: flex;
  align-items: center;
}

.mall {
  display: flex;
  align-items: center;
}
.mall .mall-img {
  width: 28px;
  height: 28px;
}
.mall .mall-img img {
  width: 100%;
}

.mall > a {
  color: var(--main);
  margin-right: 20px;
}

/* 번역 */
.hd_lang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0 40px 0 20px;
}
.hd_lang a {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}
.hd_lang a img {
  width: 100%;
}
.goog-te-gadget {
  width: 100px;
  outline: 1px solid #ccc;
  display: flex;
  padding: 3px 8px;
  background: #fff;
  border-radius: 5px;
  margin-left: 5px;
}
.goog-te-gadget,
.goog-te-gadget-simple {
  border-style: none !important;
}
.goog-te-gadget-simple img {
  display: none;
}
.goog-te-menu-value span {
  margin-right: 1rem;
}
.goog-te-menu-value span:nth-of-type(1) {
  margin-right: 1rem;
}
.goog-te-menu-value span[style^="border"] {
  display: none;
}

.m_btn a {
  width: 24px;
  height: 24px;
}
.m_btn a img {
  width: 100%;
}

/* site_map */

.site_map {
  display: none;
}

.site_map_open {
  display: block;
}

/* site_map 상단 */

.site_map {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 40px 100px;
  z-index: 1000;
}

.site_map_upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.site_map_logo {
  width: 20%;
}

.site_map_header_ui {
  width: 25%;
}

.site_map_logo a img {
  width: 80%;
}
.site_map_close_btn a img {
  width: 5%;
}

/* site_map 하단 */

.site_map_nav {
  height: 100%;
}

.site_map_dep1_ul {
  display: flex;
  padding-top: 80px;
  text-align: center;
  flex-wrap: wrap;
}

.site_map_dep1_li {
  width: 30%;
  position: relative;
  padding-bottom: 10em;
}

.site_map_dep1_li > a {
  font-size: 28px;
  color: #000;
}

.site_map_dep2_ul {
  padding-top: 25px;
}

.site_map_dep2_li {
  line-height: 2rem;
  margin-top: 20px;
}

.site_map_dep2_li > a {
  font-size: 22px;
  color: var(--sub);
}
.site_map_dep2_li > a:hover {
  background-color: #029cc32b;
  transition: 0.3s;
}

/* main-banner */
.main_bn {
  height: 100vh;
  background-image: url(../images/main-visual\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main_bn_title h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 9rem;
  color: #fff;
  position: absolute;
  top: 300px;
  left: 116px;
}
.main_bn_title > h3 {
  position: absolute;
  left: 116px;
  bottom: 400px;
}
.main_bn_title h3 {
  font-size: 45px;
  font-weight: 500;
  color: #fff;
}
.main_bn_title p {
  font-size: 30px;
  font-weight: 700;
  color: var(--sub);
  text-align: center;
  /* border: 2px solid #fff; */
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 10px;
  line-height: 3rem;
  width: 350px;
  height: 75px;
  position: absolute;
  bottom: 250px;
  left: 118px;
}

.main_bn_title p > a {
  color: var(--sub);
}

/* about */

.about {
  width: 1520px;
  margin: 140px auto 0;
}

.about_bn {
  height: 550px;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.about_title {
  font-size: 50px;
  font-weight: 500;
  border-top: 6px solid var(--main);
  display: inline-block;
  margin-bottom: 70px;
}

.about_contents {
  font-size: 30px;
  font-weight: 400;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.about_contents p {
  width: 80%;
}

.about .main_btn {
  border: 1px solid var(--sub);
  font-size: 20px;
  padding: 10px 20px;
  width: 160px;
  height: 60px;
  margin-bottom: 100px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.about .main_btn > a {
  color: var(--sub);
}
.about .main_btn:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  transition: all ease 0.2s;
}

/* product */
.product {
  background-color: var(--bg);
}

.product .container {
  width: 1520px;
  height: 1080px;
  background-color: var(--bg);
  margin: 0 auto;
}

.product-title > h1 {
  font-size: 50px;
  font-weight: 500;
  border-top: 6px solid var(--main);
  display: inline-block;
  margin-top: 70px;
  margin-bottom: 40px;
}

.product-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product a {
  color: #000;
}

.product-parents {
  width: 1440px;
  height: 750px;
  overflow: hidden;
} /*부모 */
.product-box {
  width: 2880px;
  height: 750px;
  display: flex;
  gap: 35px;
  /* border: 1px solid red; */
} /* 자식 */

.product1,
.product2 {
  width: 450px;
  height: 750px;
  text-align: center;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.product1 .product-img,
.product2 .product-img {
  width: 414px;
  height: 546px;
}
.product1 .product-img img,
.product2 .product-img img {
  width: 100%;
}

.product1 h3,
.product2 h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 10px;
}
.product1 p,
.product2 p {
  font-size: 20px;
  font-weight: 400;
}
/* 이미지 표시 */
.product-box .show {
  z-index: 10;
  opacity: 1;
}
/* 이미지 비표시 */
.product-box .none {
  display: none;
}

#pre-btn,
#next-btn {
  background-color: transparent;
  color: var(--sub);
  border: none;
}
.product .main_btn {
  outline: 1px solid var(--sub);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  margin: 55px auto 100px auto;
}

.main_btn > a {
  color: var(--sub);
}

.product .main_btn:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  transition: all ease 0.2s;
}

/* Ethical management */
.ethic {
  width: 1520px;
  margin: 140px auto 0;
}

.ethic-bn {
  height: 560px;
  background-image: url(../images/Ethic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ethic-title > h1 {
  font-size: 50px;
  font-weight: 500;
  border-top: 6px solid var(--main);
  display: inline-block;
  margin-bottom: 70px;
}

.ethic-contents {
  font-size: 30px;
  font-weight: 400;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.ethic-contents p {
  width: 80%;
}

.ethic .main-btn {
  border: 1px solid var(--sub);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
  margin-bottom: 100px;
}

.ethic .main-btn > a {
  color: var(--sub);
}
.ethic .main-btn:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  transition: all ease 0.2s;
}

/* Innovative Drug development */

.develop {
  margin: 100px 0;
}
.develop .container {
  width: 1520px;
  margin: 0 auto;
  position: relative;
}
.develop-box {
  background-image: url(../images/development.jpg);
  width: 1520px;
  height: 600px;
  color: #fff;
}
.develop-box > h1 {
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  left: 105px;
  top: 146px;
}
.develop-box > p {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  position: absolute;
  bottom: 165px;
  left: 105px;
}
.develop-box .main-btn {
  border: 1px solid #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
  position: absolute;
  bottom: 86px;
  left: 105px;
}

.develop-box .main-btn > a {
  color: #fff;
}

.develop-box .main-btn:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  transition: all ease 0.2s;
}

/* news */

.news {
  padding: 100px 0;
  background-color: var(--bg);
}

.news-box {
  display: flex;
  margin: 0 auto;
  width: 1520px;
  background-color: var(--bg);
}

.news-img {
  width: 900px;
  height: 560px;
  background-image: url(../images/with.jpg);
  background-position: center center;
  background-size: cover;
}
.news-img img {
  width: 100%;
}

.news .text-box {
  width: 620px;
  position: relative;
}

.text-box > h1 {
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  top: 98px;
  right: 161px;
}
.text-box p {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 230px;
  right: 128px;
  margin-bottom: 60px;
}

.text-box .main-btn {
  border: 1px solid var(--sub);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
  position: absolute;
  right: 345px;
  bottom: 130px;
}

.text-box .main-btn > a {
  color: var(--sub);
}
.text-box .main-btn:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  transition: all ease 0.2s;
}

/* recruit */

.recruit {
  padding: 100px 0;
}

.recruit-box {
  display: flex;
  margin: 0 auto;
  width: 1520px;
}

.recruit-img {
  width: 900px;
  height: 560px;
  /* background-color: #000; */
  background-image: url(../images/with.jpg);
  background-position: center center;
  background-size: cover;
}
.recruit-img img {
  width: 100%;
}

.recruit .text-box {
  width: 620px;
  position: relative;
}

.recruit .text-box > h1 {
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  top: 94px;
  left: 0;
}
.recruit .text-box p {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 250px;
  left: 0;
  margin-top: 10px;
}

.recruit .text-box .main-btn {
  border: 1px solid var(--sub);
  font-size: 20px;
  padding: 10px 20px;
  width: 160px;
  height: 60px;
  position: absolute;
  bottom: 92px;
  left: 0;
}

.recruit .text-box .main-btn > a {
  color: var(--sub);
}

.recruit .text-box .main-btn:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  transition: all ease 0.2s;
}

/* footer */
.footer {
  margin-top: 300px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

/* footer 의 왼쪽 영역 */

.footer_left {
  padding: 26px 0 48px 10.41666%;
}

.footer_left_upper {
  height: 67px;
  display: flex;
}

.footer_left_upper a img {
  width: 143px;
  height: 55px;
}

.footer_left_info_1 {
  display: flex;
  padding: 24px 0 0 39px;
}

.footer_left_upper a {
  color: #000;
}

.footer_left_info_1 p:first-child {
  font-size: 14px;
  font-weight: bold;
}

.footer_left_info_1 p:last-child {
  font-size: 14px;
  margin-left: 33px;
}

.footer_left_info_2 {
  margin-top: 35px;
  font-size: 12px;
}

/* footer 의 오른쪽 영역 */

.footer_right {
  padding: 41px 10.41666% 77px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.sns_btn {
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.family_site {
  width: 204px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
