/* header-banner-wrap */
html {
  scroll-behavior: smooth;
}

#header-banner-wrap {
  height: 100vh;
  background-image: url(../images/main-visual\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* header */

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 1;
}

.header a {
  color: #fff;
}
.header .between {
  color: #fff;
}

.header:hover {
  background-color: #fff;
}
.header:hover a,
.header:hover .between {
  color: #000;
}
.header:hover .mall a {
  color: var(--main);
}
.header:hover .goog-te-combo {
  width: 100px;
  color: #000;
  padding: 6px 3px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10pt;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #000;
  outline: none;
}

/* header 좌측 로고 */

.header .logo {
  display: flex;
  align-items: center;
  justify-items: center;
  /* margin: 0 50px; */
}

.logo a {
  width: 120px;
  height: 22px;
}

.logo a > img {
  width: 100%;
}

/* header 중앙 GNB */

nav {
  height: 90px;
  margin: 0 60px;
}

nav > ul {
  font-size: 16px;
}

.dep1_ul {
  height: 100%;
  display: flex;
  position: relative;
  z-index: 100;
}

.dep1_ul > li {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dep1_li::after {
  content: "";
  width: 0px;
  height: 3px;
  background: var(--main);
  position: absolute;
  top: 75%;
  transition: 0.5s;
}

.dep1_li:hover::after {
  width: 80px;
}

.dep1_li:hover .header {
  background-color: #fff;
}

.dep2_ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 150px;
  background: #fff;
}

.dep1_li:hover .dep2_ul {
  max-height: 250px;
  transition: 1s;
}

.dep2_li {
  margin-bottom: 10px;
}
.dep2_li:hover {
  background-color: aliceblue;
  color: var(--sub);
}

/* header 우측 ui */

.header_ui {
  width: 540px;
  height: 90px;
  display: flex;
  align-items: center;
  gap: 15px;
  /* border: 1px solid red; */
}

.mall {
  display: flex;
  align-items: center;
  width: 360px;
  gap: 10px;
}
.mall .mall_img {
  width: 28px;
  height: 28px;
}
.mall .mall_img img {
  width: 100%;
}
.mall > a {
  color: var(--main);
}
/* language */

.img_lang {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.hd_lang {
  display: flex;
  align-items: center;
  margin-right: 45px;
  height: 100%;
  width: 100%;
}
/* 구글 번역 api 커스텀 */
.goog-te-gadget {
  width: 130px;
  height: 46px;
  /* outline: 2px solid #fff; */
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  overflow: hidden;
}

/* 구글 번역 선택박스 */
.goog-te-gadget-simple {
  display: flex;
  gap: 20px;
  /* border: 1px solid #333; */
}
/* 언어 선택 박스 */
.goog-te-combo {
  width: 100px;
  color: #fff;
  padding: 6px 3px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10pt;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #fff;
  outline: none;
}
.goog-te-gadget .VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}

.goog-te-gadget,
.goog-te-gadget-simple {
  border-style: none !important;
}
.goog-te-gadget-simple img {
  display: none;
}
.goog-te-menu-value span:nth-of-type(1) {
  margin-right: 1rem;
}
.goog-te-menu-value span[style^="border"] {
  display: none;
}

.m_btn {
  width: 18px;
  height: 18px;
}
.m_btn a {
  display: flex;
  align-items: center;
}

/* site_map */

.site_map {
  display: none;
}

.site_map_open {
  display: block;
}

/* site_map 상단 */

.site_map {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 40px 100px;
  z-index: 1000;
}

.site_map_upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.site_map_logo {
  width: 20%;
}

.site_map_header_ui {
  width: 25%;
}

.site_map_logo a img {
  width: 80%;
}
.site_map_close_btn a img {
  width: 5%;
}

/* site_map 하단 */

.site_map_nav {
  height: 100%;
}

.site_map_dep1_ul {
  display: flex;
  padding-top: 80px;
  text-align: center;
  flex-wrap: wrap;
}

.site_map_dep1_li {
  /* border: 1px solid red; */
  width: 30%;
  position: relative;
  padding-bottom: 10em;
}

.site_map_dep1_li > a {
  font-size: 28px;
  color: #000;
}

.site_map_dep2_ul {
  padding-top: 25px;
}

.site_map_dep2_li {
  line-height: 2rem;
  margin-top: 20px;
  /* border: 1px solid seagreen; */
}

.site_map_dep2_li > a {
  font-size: 22px;
  color: var(--sub);
}
.site_map_dep2_li > a:hover {
  background-color: #029cc32b;
  transition: 0.3s;
}

/* main-banner */
.main_bn {
  height: calc(100vh - 90px);
  position: relative;
}

.main_bn_title {
  width: 720px;
  height: 320px;
  position: absolute;
  left: 120px;
  bottom: 280px;
  display: flex;
  flex-direction: column;
}
.main_bn_title h2 {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}
.main_bn_title > h3 {
  margin-bottom: 20px;
}
.main_bn_title h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.main_bn_title h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #fff;
}
.main_bn_title p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 10px 10px;
  width: 238px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_bn_title p > a {
  color: #fff;
}
.main_bn_title p:hover a {
  transform: scaleX();
}

/* about */

.about {
  height: 100vh;
  padding: 100px 0;
}
.about .container {
  width: 1520px;
  height: 882px;
  margin: 0 auto;
}
.about_bn {
  width: 100%;
  height: 550px;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.about_title {
  font-size: 40px;
  font-weight: 500;
  border-top: 6px solid var(--main);
  display: inline-block;
  margin-bottom: 50px;
}

.about_contents {
  font-size: 24px;
  font-weight: 400;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.about_contents p {
  width: 80%;
}

.about .main_btn {
  border: 1px solid var(--sub);
  font-size: 20px;
  padding: 10px 20px;
  width: 160px;
  height: 60px;
  /* margin-bottom: 100px; */
}

.about .main_btn > a {
  color: var(--sub);
}

/* product */
.product {
  background-color: var(--bg);
  height: 100vh;
  padding: 100px 0;
}

.product .container {
  width: 1520px;
  height: 800px;
  background-color: var(--bg);
  margin: 0 auto;
}

.product-title > h1 {
  font-size: 40px;
  font-weight: 500;
  border-top: 6px solid var(--main);
  display: inline-block;
  margin-bottom: 30px;
}

.product-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product a {
  color: #000;
}

.product-parents {
  width: 1440px;
  height: 550px;
  /* border: 2px solid red; */
  overflow: hidden;
} /*부모 */
.product-box {
  width: 2880px;
  height: 550px;
  display: flex;
  gap: 35px;
} /* 자식 */

.product1 {
  width: 450px;
  height: 550px;
  text-align: center;
}
.product1 .product-img {
  width: 450px;
  height: 412px;
}
.product1 .product-img {
  width: 100%;
}

.product1 h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
}
.product1 p {
  font-size: 18px;
  font-weight: 400;
}
/* 이전/다음 버튼 클릭시 fade-in 효과주기  */
@keyframes nextbtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes prebtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product-box .product1 {
  z-index: 10;
  transition: all 1s;
}

#pre-btn,
#next-btn {
  background-color: transparent;
  color: var(--sub);
  border: none;
  cursor: pointer;
}
.product .main_btn {
  outline: 1px solid var(--sub);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  margin: 40px auto;
}

.main_btn > a {
  color: var(--sub);
}

/* Ethical management */
.ethic {
  height: 100vh;
  padding: 100px 0;
}
.ethic .container {
  width: 1520px;
  margin: 0 auto;
}
.ethic-title > h1 {
  font-size: 40px;
  font-weight: 500;
  border-top: 6px solid var(--main);
  display: inline-block;
  margin-bottom: 50px;
}
.ethic-bn {
  width: 100%;
  height: 500px;
  background-image: url(../images/Ethic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ethic-contents {
  font-size: 24px;
  font-weight: 400;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.ethic-contents p {
  width: 80%;
}

.ethic .main-btn {
  border: 1px solid var(--sub);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
}

.ethic .main-btn > a {
  color: var(--sub);
}

/* Innovative Drug development */

.develop {
  height: 100vh;
  display: flex;
  align-items: center;
}

.develop .develop_bg {
  width: 100%;
  height: 636px;
  background-image: url(../images/development.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.develop .develop_bg .container {
  width: 1520px;
  height: 636px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.container .develop-box {
  color: #fff;
  width: 1000px;
  height: 250px;
}
.develop-box > h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.develop-box > p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}
.develop-box .main-btn {
  border: 1px solid #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
}

.develop-box .main-btn > a {
  color: #fff;
}

/* news */

.news {
  height: 100vh;
  padding: 100px 0;
  background-color: var(--bg);
  display: flex;
  align-items: center;
}
.news .container {
  width: 1920px;
  height: 547px;
  background-image: url(../images/news-full.png);
  background-position: center center;
  background-size: cover;
}
.news-box {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  width: 1520px;
  height: 547px;
}

.news .text-box {
  width: 500px;
  height: 300px;
  /* border: 1px solid red; */
}

.text-box > h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.text-box p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.text-box .main-btn {
  border: 1px solid var(--sub);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
}

.text-box .main-btn > a {
  color: var(--sub);
}

/* recruit */

.recruit {
  height: 100vh;
  padding: 100px 0;
  display: flex;
  align-items: center;
}
.recruit .container {
  width: 1920px;
  height: 560px;
  background-image: url(../images/with.png);
  background-position: center center;
  background-size: cover;
}
.recruit-box {
  margin: 0 auto;
  width: 1520px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recruit .text-box {
  width: 620px;
  height: 350px;
}

.recruit .text-box > h1 {
  font-size: 40px;
  font-weight: 700;
}
.recruit .text-box p {
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
}

.recruit .text-box .main-btn {
  border: 1px solid var(--sub);
  font-size: 20px;
  padding: 10px 20px;
  width: 160px;
  height: 60px;
}

.text-box .main-btn > a {
  color: var(--sub);
}

/* footer */
.footer {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

/* footer 왼쪽 영역 */

.footer_left {
  padding: 26px 0 48px 10.41666%;
}

.footer_left_upper {
  height: 67px;
  display: flex;
}

.footer_left_upper a img {
  width: 143px;
  height: 55px;
}

.footer_left_info_1 {
  display: flex;
  padding: 24px 0 0 39px;
}

.footer_left_upper a {
  color: #000;
}

.footer_left_info_1 p:first-child {
  font-size: 14px;
  font-weight: bold;
}

.footer_left_info_1 p:last-child {
  font-size: 14px;
  margin-left: 33px;
}

.footer_left_info_2 {
  margin-top: 35px;
  font-size: 12px;
}

/* footer 의 오른쪽 영역 */

.footer_right {
  padding: 41px 10.41666% 77px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.sns_btn {
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.family_site {
  width: 204px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
